body{
    margin: 0px;
    padding: 0px;
}


.parent{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.calci{
    width: 350px;
    height: 90%;
    background-color: black;
    
}
